# This requires conda's base env to be activated
# and configured by a ~/.direnvrc with conda-venv defined.
layout conda-venv py-3.9.5 .venv
unset PS1

export DATE=`date -j "+%a %b %e, %Y" | sed 's/  / /'`
export LASTWEEK=`gdate +%V -d 'last week'`
export WEEKNUM=`date +%V`
export YEAR=`date +%Y`
export TOP="./journal"
export FORMAT="md"
export LASTLOG=`find -s $TOP -type f -ipath "*daylog.${FORMAT}" | sort -V | tail -n1`
export LASTDIR="${TOP}/${YEAR}/week-${LASTWEEK}"
export DIR="${TOP}/${YEAR}/week-${WEEKNUM}"
export NEXTLOG="${DIR}/${TODAY}-daylog.${FORMAT}"

