# Ignore the Sphinx build directory
_build

# Ignore vim swap files
.*.swp

# Don't store the python virtual env
.venv

# direnv settings are personal, but
# let's include something as an example.
#.envrc

# Ignore Mac data
.DS_Store
